services:
  db:
    image: postgres:18-alpine
    container_name: auth-api-dev-db
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  auth-api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: auth-api-dev
    ports: 
      - "${PORT}:${PORT}"
    environment:
      - NODE_ENV=development
      - PORT=${PORT}
      - API_RATE_LIMIT_MAX=${API_RATE_LIMIT_MAX}
      - API_RATE_LIMIT_WINDOW=${API_RATE_LIMIT_WINDOW}
      - TOKEN_ACCESS=${TOKEN_ACCESS}
      - TOKEN_ACCESS_REFRESH=${TOKEN_ACCESS_REFRESH}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
volumes:
  postgres_data: